<!-- START IMPORTED CONTENT -->

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
<div id="top"></div>

    <div class='embed-container'>
      <img class="vimeoplayer" data-vimeoid="136325708" src="https://cdn.shopify.com/s/files/1/0941/6882/files/video-fallback.jpg?8043753215982534187"  alt="Powered By Stacked">
      <div class="video-trigger" id="video-trigger">Watch Video NOW</div>
    </div>


  <div id="big-wrap">
    <div id="main" class="delayed">
        
      <div class="overlay-container">
        <section id="block_1" class="content-stripe story-container">
            <div class=" ">
                <h1><span>TRUE</span>wireless charging</h1>

                <img src="https://cdn.shopify.com/s/files/1/0941/6882/files/02.jpg?10620664383253626105" />

                <p>
                    Wireless charging just took a giant step forward. STACKED charges faster than competing technologies because our magnetic connectors form direct contact to charge your iPhone®.
                </p>
                <p>
                    STACKED is the first wireless charging ecosystem to charge your iPhone® just as efficiently as plugging into the wall.
                </p>
          
                
            </div>
        </section>
        

        <section id="block_2" class="content-stripe story-container">
            <div class=" ">
                <h1>magnetic connection</h1>

                <img src="https://cdn.shopify.com/s/files/1/0941/6882/files/06.jpg?10620664383253626105" />

                <p>
                    At the heart of the Stacked iPhone® case is our magnetic connector which is built directly into the back of all our slim cases to allow easy wireless charging while offering full protection. Direct battery transfer works even more efficiently than plugging into the wall.
                </p>
                
            </div>
        </section>
        <section id="block_3" class="content-stripe story-container">
            <div class=" ">
                <h1>full protection</h1>
                <img src="https://cdn.shopify.com/s/files/1/0941/6882/files/03.jpg?10620664383253626105" />
                <p>
                    Our case offers full phone protection and easy access to buttons and ports.
                </p>

                <p>
                    Our proprietary patented secure slide lock offers a robust yet thin one piece case design for ease of assembly.
                    No more missing pieces or multiple steps to assemble your case. Simply pop in your phone, slide the connector and you’re ready for wireless charging.
                </p>
                
            </div>
        </section>
        <section id="block_4" class="content-stripe story-container">
            <div class=" ">
                <h1>STACKABLE</h1>
                <img src="https://cdn.shopify.com/s/files/1/0941/6882/files/04.jpg?10620664383253626105" />
                <p>
                    Our magnets form a direct contact connection to charge your STACKED power packs and the AC wall plug. Quickly charge UP TO 5 STACKED power packs with the AC wall plug quick charge.
                </p>
                
            </div>
        </section>
        <section id="block_5" class="content-stripe story-container">
                <img src="https://cdn.shopify.com/s/files/1/0941/6882/files/05.jpg?10620664383253626105" />
        </section>
         <section id="mailchimp">
             <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
            <style type="text/css">
              #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
              /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                 We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
            <form action="//poweredbystacked.us11.list-manage.com/subscribe/post?u=21f5f1260cf018f631b94cfb1&amp;id=248c03b790" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
              <h2>Pre-Order Mailing List</h2>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group">
              <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
            </label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_21f5f1260cf018f631b94cfb1_248c03b790" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->
         </section>
        </div>

        <div id="footer-block">
          <a href="#0" class="cd-top icon-circle-up"></a>
          <footer class="footer" role="contentinfo">
      <div class="footer-links">
        
        <ul>
          <li><h3>Follow Us</h3></li>
          <li><a href="https://instagram.com/poweredbystacked/">Instagram</a></li>
          <li><a href="#top" class="topper">Return To Top</a></li>
        </ul>
        <ul class="stacked_footer_logo">
          <li><a href="#top" class="topper"><img src="https://cdn.shopify.com/s/files/1/0941/6882/files/STACKED_Icon.svg?1849780542212893891" /></a></li>
        </ul> 
        <ul>
          <li><h3>Contact Us</h3></li>
          <li>p: 310-277-4160</li>
          <li>e: <a href="mailto:info@poweredbystack.com">info@poweredbystack.com</a></li>
        </ul>
      </div>

      <hr>
    </footer>
      </div>
    </div> <!-- End Main -->