<!-- /templates/page.collection.liquid -->
<div class="grid collection-all">

    <div class="collection-section collection-block collection_block_1">
    	<a href="../collections/iphone-6-plus">
	    	<img src="https://cdn.shopify.com/s/files/1/0941/6882/files/six-plus-collection.jpg?12292937939419258942" />
    	</a>
    	<h1>IPHONE 6 PLUS</h1>
    </div>

    <div class="collection-section collection-block collection_block_2">
    	<a href="../collections/iphone-6">
    		<img src="https://cdn.shopify.com/s/files/1/0941/6882/files/six-collection.jpg?12292937939419258942" />
    	</a>
    	<h1>IPHONE 6</h1>
    </div>

    <div class="collection-section collection-block collection_block_3">
    	<a href="../collections/battery-packs">
	    	<img src="https://cdn.shopify.com/s/files/1/0941/6882/files/battery-pack-collection.jpg?12292937939419258942" />
    	</a>
    	<h1>BATTERY PACKS</h1>
    </div>

</div>
